# Database Connection String (Docker / PostgreSQL)
DATABASE_URL="postgresql://admin:admin123@localhost:5433/serveai_db?schema=public"

# Server Port
PORT=5000

# Authentication Secret Key
JWT_SECRET="your_jwt_secret_key_here"
